
@{
    ViewBag.Title = "Consulta de Tipos de Animais";
}

<section class="titlepages">
    <h2>Consulte os tipos de animais cadastrados no sistema:</h2>
</section>

<div id="tablecontainer">
    @Html.Raw(ViewBag.GridViewString)
</div>