
@{
    ViewBag.Title = "pesquisa";
}

<section class="titlepages">
    <h2>Pesquise as informações do pet:</h2>
</section>

<form action="resultado" method="post">

    <label>Digite o Nome do Pet:</label>

    <input type="text" name="txtNome" id="txtNome" />

    <input type="submit" name="name" id="" value="PESQUISAR" />

</form>

