
@{
    ViewBag.Title = "Consulta";
}

<section class="titlepages">
    <h2>Consulte os dados das raças cadastrados no sistema:</h2>
</section>

<div id="tablecontainer">
    @Html.Raw(ViewBag.GridViewString)
</div>